@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFEFE2;
    margin: 0;
    vertical-align: middle;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* max-width: 1200px; */
    margin: auto;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}
p {
    color: rgba(0,0,0,0.7)
}
header {
    margin-top: 8px;
}
header button {
    padding: 12px 16px;
    font-size: 14px;
}
.wrapper {
    max-width: 1200px;
    margin: auto;
}
header .wrapper,
.hero .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



header .logo img {
    width: 120px;
}

a {
    text-decoration: none;
    color: #1B1D21;
}

a:hover {
    color: #313131;
}

header .nav ul {
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}


.hero {
    /* background-color: beige; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}



.right img {
    /* min-width: 120px; */
    width: 100%;
    max-width: 800px;
    height: auto;
}

input {
    outline: none !important;
    padding: 16px 12px;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    /* max-width: 300px; */
}

input:focus {
    border: 2px solid #3FDFC3;
}

button {
    padding: 16px 32px;
    font-size: 16px;
    background-color: #4646c2;
    color: #fff;
    font-weight: 600;
    border-radius: 228px;
    border-style: none;
}


button:hover {
    background-color: #3636a2;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 8px;
    max-width: 600px;
}

.benefit-section {
    text-align: center;
    background-color: #ffffff;
    padding-top: 60px;
}
.benefits {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.benefit {
    text-align: center;
}

.benefit img {
    width: 48px;
}

.benefit-section h2 {
   color:#3636a2; 
}